.form-inputs {
    max-width: 100em;
}

.form-item {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

.item-value {
    width: 100%;
}

.item-title {
    width: 200px;
}

.solution-area {
    height: 50vh;
    resize: none;
}

.console-text {
    font-family: 'Consolas'
}

.result-text {
    padding: 20px 0;
}

.green-text {
    color: green;
}

.red-text {
    color: red;
}